{% extends 'stock_management/base.html' %}

{% block main %}
<h1 style="margin-left:5vw;margin-top:5vh;">Ajouter un article</h1>

{% load crispy_forms_tags %}

    
<form action="{% url 'add_article' %}" enctype="multipart/form-data" method="post" style="padding-left:5vw;padding-right:5vw;padding-top:10vh;padding-bottom:10vh;">
    {% csrf_token %}
   
    <!-- {{ form.non_field_errors }}
    {{ form.errors }} -->
   
    
    <div id="main_infos" class="row">
        
        <div class="col-4">
             {{ form.name.errors }}
            {{ form.name |as_crispy_field }}
        </div>
    
        <div class="col-4">
             {{ form.article_category.errors }}
            {{ form.article_category |as_crispy_field }}
        </div>
    </div>


    <div id="selling_infos" class="row">
        <div class="col-3">
            {{ form.selling_net_price.errors }}
            {{ form.selling_net_price  |as_crispy_field }}
        </div>
        
    </div>

    <div id="supplier_infos" class="row">
        <div class="col-4">
            {{ form.supplier_foreign_key.errors }}
            {{ form.supplier_foreign_key | as_crispy_field }}
        </div>
    </div>

    <div id="stock_infos" class="row">
        <!-- current_stock    -->
        <div class="col-12">
            {{ form.current_stock.errors }}
            {{ form.current_stock | as_crispy_field  }}
        </div>
    </div>

    <input type="submit" value="Submit" class="btn btn-info"/>
</form>



<a style="margin:5vw;" href="{% url 'list_articles' %}" class="btn btn-info">Retourner sur la liste des articles</a>



{% endblock %}
