{% extends 'stock_management/base.html' %}

{% block main %}
<h1> Add Item </h1>

<form action="{% url 'add_items_to_order' pk %}" enctype="multipart/form-data" method="post">
    {{ form.non_field_errors }}
    {{ form.errors }}

    <div id="main_infos">


        <div>
            {{ form.order.errors }}
            <label id="label_order" for="{{ form.order.id_for_label }}">Order</label>
            {{ form.order }}
        </div>

        <div>
            {{ form.product.errors }}
            <label id="label_product" for="{{ form.product.id_for_label }}">Product</label>
            {{ form.product }}
        </div>
    </div>


    {% csrf_token %}
    <input type="submit" value="Submit" />
</form>




{% endblock %}